<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.jpg</key>
	<string>image 0</string>
	<key>1.jpg</key>
	<string>image 1</string>
	<key>2.jpg</key>
	<string>image 2</string>
	<key>3.jpg</key>
	<string>image 3</string>
</dict>
</plist>
